  @font-face {
    font-family: 'KIA';
    src: url('../fonts/KIA-Light.ttf') format('truetype'), url('../fonts/KIA-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
@font-face {
    font-family: 'KIA';
    src: url('../fonts/KIA-Medium.ttf') format('truetype'), url('../fonts/KIA-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'KIA';
    src: url('../fonts/KIA-Bold.ttf') format('truetype'), url('../fonts/KIA-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }